<h1>パスワード変更</h1>

<p>パスワードの変更は下記のリンクから</p>

<%= link_to "パスワードの変更", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクの有効期限は2時間です</p>

<p>
もしあなたがパスワード変更のリクエストを行っていない場合、このメールを破棄して頂くようお願いします
</p>