<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<% @notifications.each do |notification| %>
  <ul>
    <il><%= notification.follower.name %> さんにフォローされました</li>
    <br>
    <il><%= notification.created_at %></li>
  </ul>
<% end %>