@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  margin-top: 30px;
}

.center {
  text-align: center;
}


/* home */

.button-home {
  display: inline-block;
  width: 200px;
  height: 54px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;
  position: relative;
  z-index: 2;
  background-color: rgba(0,0,0,0.2);
  border: 2px solid #333;
  color: #fff;
  line-height: 50px;
  overflow: hidden;
  font-size: 20px;
}

.button-home:hover {
  color: #fff;
  text-decoration: none;
}

.button-home::before,
.button-home::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
  top: -100%;
  width: 100%;
  height: 100%;
}
.button-home,
.button-home::before,
.button-home::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.button-home:hover::after {
  top: 0;
  background-color: #333;
}


.jumbotron-extend {
    position: relative;
    height: 100vh;
    min-height: 300px;
    background: url("https://flowerillust.com/img/flower/flower-back1254.jpg") no-repeat center center;
    background-size: cover;
    margin-bottom: 0px;
}

.container-fluid {
  background-color: rgba(0,0,0,0.3);
  padding: 50px 0px 50px 0px;
  margin-top: 30vh;
}

.container-fluid h1 {
  color: #fff;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.submit-view {
  background: url("https://flowerillust.com/img/flower/flower-back1254.jpg");
  background-size: cover;
  height: 100vh;
  padding-right: 15px;
  z-index: -2;
}

.new-title {
  padding-top: 130px;
  padding-bottom: 50px;
}

.new-title h1 {
  text-align: center;
  font-size: 45px;
}

.form-submit {
  text-align: center;
}

/////inputに疑似要素は一時中断/////

.button-signup2 {
  background-color: rgba(0,0,0,0.2);
  margin-top: 20px;
  display: inline-block;
  width: 200px;
  height: 54px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;
  position: relative;
  z-index: 2;
  border: 2px solid #333;
  color: #333;
  line-height: 50px;
  overflow: hidden;
  font-size: 20px;
}

.button-signup2:hover {
  color: #fff;
  text-decoration: none;
}

.button-signup::before,
.button-signup::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
  top: -100%;
  width: 100%;
  height: 100%;
}
.button-signup,
.button-signup::before,
.button-signup::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.button-signup:hover::after {
  top: 0;
  background-color: #333;
}

#error_explanation {
  color: red;
  ul {
    color: black;
  }
  li {
    margin: 10px 0 0 0;
  }
}

.alert {
  z-index: 1000000;
}

////login-form////

.login-view {
  height: 100vh;
  min-height: 300px;
  background: url("https://flowerillust.com/img/flower/flower-back1254.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
}

.login-title {
  padding-top: 120px;
  padding-bottom: 50px;
}

.login-title h1 {
  text-align: center;
  font-size: 45px;
}

.submit-yet {
  color: #333;
}

.submit-yet:hover {
  text-decoration: none;
}

.checkbox {
  margin-top: 15px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.show-me {
  padding-top: 50px;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}



/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}